<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Bienvenida</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Registro de Usuario</h1>
        <form method="POST" action="/formulario">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>