<!DOCTYPE html>
<html>
<head>
    <title>Biblioteca</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1 class="centered-text">Bienvenido a la Biblioteca de Alejandría</h1>
    <img src="/static/images/biblioteca.jpg" alt="Imagen de una biblioteca" class="full-width-image">
    <p>Explora el mundo del conocimiento y la aventura a través de nuestros libros.</p>
    <p>Únete a nuestra comunidad de lectores y descubre nuevas historias cada día.</p>
    <script src="/static/js/script.js"></script>
</body>
</html>


